In [1]:
import pandas as pd

In [2]:
#sheets = [pd.read_csv("rnn-2022-03-16 13-55-17.csv"), pd.read_csv("dqn-ani2-1hl-2022-03-15 20-32-06.csv"), 
 #        pd.read_csv("dqn-ani-1hl-2022-03-15 11-13-53.csv"), pd.read_csv("dqn-ani-1hl-2022-03-14 10-49-57.csv"),
  #       pd.read_csv("dqn-2hl-2022-03-15 14-48-33.csv"), pd.read_csv("dqn-2hl-2022-03-13 16-36-15.csv"),
   #      pd.read_csv("dqn-1hl-2022-03-15 15-24-53.csv"), pd.read_csv("dqn-1hl-2022-03-14 09-51-58.csv"),
    #     pd.read_csv("dqn-1hl-2022-03-14 04-42-41.csv"), pd.read_csv("dqn-1hl-2022-03-14 04-07-20.csv"),
     #    pd.read_csv("dqn-1hl-2022-03-13 22-01-26.csv"), pd.read_csv("dqn-1hl-2022-03-13 20-48-57.csv"),
      #   pd.read_csv("dqn-1hl-2022-03-13 14-11-15.csv"), pd.read_csv("dqn-1hl-2022-03-12 22-11-56.csv"),
       #  pd.read_csv("dqn-1hl-2022-03-12 21-34-02.csv"), pd.read_csv("dqn-1hl-2022-03-11 03-55-36.csv"),
        # pd.read_csv("dqn-1hl-2022-03-09 04-34-45.csv")]

In [3]:
sheets = [pd.read_csv("tabular-2022-03-20 09-56-38.csv"), pd.read_csv("tabular-2022-03-20 11-11-09.csv"),
         pd.read_csv("tabular-2022-03-26 17-55-19.csv"), pd.read_csv("tabular-2022-03-26 20-57-46.csv"),
         pd.read_csv("tabular-2022-03-27 14-03-17.csv"), pd.read_csv("tabular-2022-03-27 16-29-06.csv"),
         pd.read_csv("tabular-2022-03-27 18-16-18.csv"), pd.read_csv("tabular-2022-03-27 21-27-05.csv"),
         pd.read_csv("tabular-2022-03-27 22-27-42.csv")]

In [4]:
sheets[1].head()

,Unnamed: 0,model,lookback,epsilon,epsilon_decay,learning_rate,discount_rate,tr_cooperation_percentage,tr_defection_percentage,tr_final_loss,tr_mean_reward,tr_cumul_reward,tr_cumul_regret,tn_rank,tn_mean_score,tn_mean_time,agents
0,0,NaN,1,0.10,0.0,0.01,0.99,0.770950,0.229050,NaN,2.554979,613195,106805,25,673.622581,0.782663,"TitForTat,Nydegger,TidemanAndChieruzzi,Champio..."
1,1,NaN,1,0.10,0.0,0.01,0.95,0.825008,0.174992,NaN,2.606050,625452,94548,22,718.403226,0.935038,"TitForTat,Nydegger,TidemanAndChieruzzi,Champio..."
2,2,NaN,1,0.20,0.0,0.01,0.99,0.850562,0.149438,NaN,2.690783,645788,74212,25,682.050000,1.155771,"TitForTat,Nydegger,TidemanAndChieruzzi,Champio..."
3,3,NaN,1,0.20,0.0,0.01,0.95,0.891475,0.108525,NaN,2.698771,647705,72295,25,701.451613,0.688390,"TitForTat,Nydegger,TidemanAndChieruzzi,Champio..."
4,4,NaN,1,0.01,0.0,0.01,0.99,0.897446,0.102554,NaN,2.723583,653660,66340,23,694.072581,0.865333,"TitForTat,Nydegger,TidemanAndChieruzzi,Champio..."

In [9]:
def clean_up(df: pd.DataFrame) -> pd.DataFrame:
    
    # remove unnamed initial column.
    # replace model column with name of model
    #df = df.drop(["Unnamed: 0"], axis=1)
    df = df.drop(["Unnamed: 0", "model"], axis=1)
    
    # use this to clean sheets for DQN/RNN.
    '''if "QNetwork" in df["model"][0]:
        df["ModelType"] = "DQN"
    elif "RNN" in df["model"][0]:
        df["ModelType"] = "RNN"
    df = df.drop(["model"], axis=1)'''
    
    return df

In [10]:
for idx, sheet in enumerate(sheets):
    print(f"Cleaning up sheet {idx}")
    sheets[idx] = clean_up(sheet)

Cleaning up sheet 0
Cleaning up sheet 1
Cleaning up sheet 2
Cleaning up sheet 3
Cleaning up sheet 4
Cleaning up sheet 5
Cleaning up sheet 6
Cleaning up sheet 7
Cleaning up sheet 8

In [11]:
# delete redundant columns

for sheet in sheets:
    if "Model Type" in sheet.columns:
        sheet.drop("Model Type", inplace=True, axis=1)

for sheet in sheets:
    if "Unnamed: 0.1" in sheet.columns:
        sheet.drop("Unnamed: 0.1", inplace=True, axis=1)

In [12]:
columns = []
for idx, sheet in enumerate(sheets):
    for col in sheet.columns:
        if not col in columns:
            print(f"Adding {col} to columns.")
            columns.append(col)

Adding lookback to columns.
Adding epsilon to columns.
Adding epsilon_decay to columns.
Adding learning_rate to columns.
Adding discount_rate to columns.
Adding tr_cooperation_percentage to columns.
Adding tr_defection_percentage to columns.
Adding tr_final_loss to columns.
Adding tr_mean_reward to columns.
Adding tr_cumul_reward to columns.
Adding tr_cumul_regret to columns.
Adding tn_rank to columns.
Adding tn_mean_score to columns.
Adding tn_mean_time to columns.
Adding agents to columns.
Adding decay_limit to columns.

In [13]:
# now we join the spreadsheets together

# first we need to make sure all sheets have the same columns
for sheet in sheets:
    for col in columns:
        if not col in sheet.columns:
            sheet[col] = None

In [14]:
master_sheet = pd.concat(sheets, ignore_index=True, sort=True)

In [15]:
master_sheet

,agents,decay_limit,discount_rate,epsilon,epsilon_decay,learning_rate,lookback,tn_mean_score,tn_mean_time,tn_rank,tr_cooperation_percentage,tr_cumul_regret,tr_cumul_reward,tr_defection_percentage,tr_final_loss,tr_mean_reward
0,"TitForTat,Nydegger,Downing,TidemanAndChieruzzi...",NaN,0.99,0.10,0.0,0.010,1.0,676.577419,1.220324,25.0,0.673646,252456.0,587544.0,0.326354,NaN,2.098371
1,"TitForTat,Nydegger,Downing,TidemanAndChieruzzi...",NaN,0.95,0.10,0.0,0.010,1.0,734.677419,1.332400,21.0,0.868100,199118.0,640882.0,0.131900,NaN,2.288864
2,"TitForTat,Nydegger,Downing,TidemanAndChieruzzi...",NaN,0.99,0.20,0.0,0.010,1.0,684.843548,1.657632,24.0,0.751871,222164.0,617836.0,0.248129,NaN,2.206557
3,"TitForTat,Nydegger,Downing,TidemanAndChieruzzi...",NaN,0.95,0.20,0.0,0.010,1.0,688.179032,5.635899,25.0,0.851932,192483.0,647517.0,0.148068,NaN,2.312561
4,"TitForTat,Nydegger,Downing,TidemanAndChieruzzi...",NaN,0.99,0.01,0.0,0.010,1.0,757.864516,2.086864,9.0,0.880529,189492.0,650508.0,0.119471,NaN,2.323243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,"TitForTat,TidemanAndChieruzzi,Nydegger,Grofman...",0.05,0.99,0.20,0.0,0.100,10.0,734.195161,0.888287,18.0,0.824124,2904774.0,27095226.0,0.175876,NaN,2.709523
765,"TitForTat,TidemanAndChieruzzi,Nydegger,Grofman...",0.05,0.95,0.20,0.0,0.010,10.0,725.612903,0.907928,21.0,0.702144,5223709.0,24776291.0,0.297856,NaN,2.477629
766,"TitForTat,TidemanAndChieruzzi,Nydegger,Grofman...",0.05,0.99,0.20,0.0,0.010,10.0,731.929032,1.091039,24.0,0.724121,5473997.0,24526003.0,0.275879,NaN,2.452600
767,"TitForTat,TidemanAndChieruzzi,Nydegger,Grofman...",0.05,0.95,0.20,0.0,0.001,10.0,652.251613,0.895862,25.0,0.590281,6849345.0,23150655.0,0.409719,NaN,2.315066
768,"TitForTat,TidemanAndChieruzzi,Nydegger,Grofman...",0.05,0.99,0.20,0.0,0.001,10.0,695.016129,0.828136,24.0,0.495325,8578857.0,21421143.0,0.504675,NaN,2.142114

In [16]:
master_sheet.to_csv("tabular_masterspreadsheet_ani.csv")